<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <script th:src="@{js/sockjs.min.js}"></script>
    <script th:src="@{js/stomp.js}"></script>
    <script th:src="@{js/jquery-3.2.1.js}"></script>
</head>
<body>
    <p>聊天室</p>
    <form id="ltForm">
        <textarea rows="4" cols="60" name="text"></textarea>
        <input type="submit" value="发送" />
    </form>

<script th:inline="javascript">
    $("#ltForm").submit(function(e) {
       e.preventDefault();
       var textArea = $("#ltForm").find('textarea[name="text"]');
       var text = textArea.val();
       sendSpittle(text);
       textArea.val('');
    });

    var sock = new SockJS("/endpointChat");
    var stomp = Stomp.over(sock);
    stomp.connect('guest', 'guest', function (frame) {
       stomp.subscribe("/user/queue/notifications", handleNotification);
    });

    function sendSpittle(text) {
        stomp.send("/chat", {}, text);
    }

    $("#stop").click(function() {
        sock.close();
    });
</script>
<div id="output"></div>
</body>
</html>